<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initialscale= 1, maximum-scale=1.0, user-scalable=no" />
<title>Título default</title>
<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'></link>
</head>
<body>
	<section layout:fragment="conteudo">
		<p>Framento da página vem aqui</p>
	</section>
	<script src="/webjars/bootstrap/3.3.7-1/bootstrap.js"></script>
</body>
</html>
